<!-- Main Page CardNews -->

<div class="card_news_all">
  <div class="news_title">
    <div>Latest Art News</div>
    <div>미술분야의 각종보도자료 및 최신소식을 전합니다.</div>
    <span class="news_title_1">
        <span class="plus-icon"><i class="fa-solid fa-plus"></i></span>
        <span>바로가기</span>
    </span>
    
  </div>

  
  <!-- first Card News -->
  <div class="news_container">
    <a href="http://www.gwangjuin.com/news/articleView.html?idxno=95819">

      <div class="news_textbox">
        <div class="news_text">
          <div class="news_text1 fromLeft">무각사 로터스갤러리, 신인작가 기획전</div>
          <div class="news_text2">

              2022년 로터스갤러리 청년신인작가 공모에
              선정된 양세미 작가의 전시가
              3일 부터 이달 29일까지 광주 무각사 로터스갤러리에서 열린다.
              ...(자세히 보기)
          </div>
        </div>
      </div>

      <p>
        <img src="/static/img/NewsPage/artnews_1.jpg" alt="News" class="news_img">
      </p>

    </a>
  </div>

  <!-- second Card News -->
  <div class="news_container2">
    <a href="http://www.gwangjuin.com/news/articleView.html?idxno=95819">
      <div class="news_textbox">
        <div class="news_text">
          <div class="news_text1 fromLeft">이인성의 ‘여름 실내에서’</div>
          <div class="news_text2">
            ‘천재 화가, 조선의 고갱 이인성을 아십니까?’
            2022년 경기 과천시 국립현대미술관 덕수궁관에서 개최된
            ‘鄕(향), 이인성 탄생 100주년 기념 특별전’
            ...(자세히 보기)
          </div>
        </div>
      </div>

      <p>
        <img src="/static/img/NewsPage/artnews_2.jpg" class="news_img" >
      </p>
    </a>
  </div>

    <!-- third Card News -->
  <div class="news_container">
    <a href="http://www.gwangjuin.com/news/articleView.html?idxno=95819">
    <!-- 투명도 -->
      <div class="news_textbox">
      <div class="news_text">
        <div class="news_text1 fromLeft">한·중 대가들의 작품 제주서 만난다</div>
        <div class="news_text2">
          한중수교 30주년 기념 현대미술전 '제주, 아시아 중심'전
          이달 30일~9월 27일 기당미술관·서귀포예당 전시실
          현대미술 대표 16명 작가 참여... 100여점 작품 전시..
          ...(자세히 보기)
        </div>
      </div>
    </div>


      <p>
        <img src="/static/img/NewsPage/k_news_3.jpg" alt="News" class="news_img">
      </p>
    </a>
  </div>
</div>