<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}



.textbox{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}


.container:hover .textbox{
  opacity: 0.7;
}


.text {
  color: white;
  font-size: 20px;
  font-family:verdana, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nomal;
  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  text-align: center;
}

</style>


<div class="container">
  <img src="artnews_ex.jpg" alt="Picsum" class="image">
  <div class="textbox">
    <div class="text">
      무각사 로터스갤러리, 신인작가 기획전 
    </div>
  </div>
</div>

