<div class="news_title">
  Latest Art News
</div>


  <div class="news_container">
    <a href="http://www.gwangjuin.com/news/articleView.html?idxno=95819">
    <div class="news_textbox">
      <div class="news_text">
        <div class="news_text1 fromLeft">무각사 로터스갤러리, 신인작가 기획전</div>
        <div class="news_text2">
          2017년 로터스갤러리 청년신인작가 공모에
          선정된 양세미 작가의 전시가
          3일 부터 이달 29일까지 광주 무각사 로터스갤러리에서 열린다.
          ...(자세히 보기)
        </div>

        <!-- <div class="news_text3">
          (클릭 시 기사로 이동)
        </div> -->
        
      </div>

    </div>

    <p>
      <img src="/static/img/artnews_1.jpg" alt="Picsum" class="news_img">
    </p>

  </a>
  </div>

  <div class="news_container2">
    <p>
      <img src="/static/img/artnews_2.jpg" class="news_img">
    </p>
  </div>



<!-- Title 카드뉴스 구간에서 Fade in and out -->
<script>

// $(document).ready(function() {
//     $(window).scroll( function(){
//         $('.news_title').each( function(i){
//             var bottom_of_object = $(this).offset().top + $(this).outerHeight();
//             var bottom_of_window = $(window).scrollTop() + $(window).height();
//             if( bottom_of_window > bottom_of_object/2 ){
//                 $(this).animate({'opacity':'1'},50);
//             }
//         }); 
//     });
// });

$(function() {
$(window).scroll(function () {
var scroll_height = $(document).scrollTop();
if ( 400 <= scroll_height ) {
$(".news_title").fadeIn();
 
} 
else {
$(".news_title").fadeOut();
}
});
});

</script>

</div>

