<div style="background-color: darkcyan;">

  <div class="news_title show">
    Latest Art News
  </div>


  <div class="news_container">

    <div class="news_textbox">
      <div class="news_text">
        <div class="news_text1">무각사 로터스갤러리, 신인작가 기획전</div>

        <div class="news_text2">
          2017년 로터스갤러리 청년신인작가 공모에
          선정된 양세미 작가의 전시가
          3일 부터 이달 29일까지 광주 무각사 로터스갤러리에서 열린다.
        </div>

        <div class="news_text3">
          (클릭 시 기사로 이동)
        </div>

      </div>
    </div>
    <p>
      <!-- <img onclick="newslink()" src="/static/img/artnews_1.jpg" alt="Picsum" class="news_img"> -->
      <img src="/static/img/artnews_1.jpg" alt="Picsum" class="news_img">
    </p>
  </div>

  <div class="news_container2">

    <p>
      <img src="/static/img/artnews_2.jpg" class="news_img">
    </p>
  </div>

</div>

<script>
// var divs = $('.show');
// $(window).scroll(function(){
//    if($(window).scrollTop()<=100){
//          divs.fadeIn(500);
//    } else {
//          divs.fadeOut(500);
//    }
// });
if (a >= 300 && a < 500) {
            $('.show').addClass('on');
        }
if (a >= 500) {
            $('.show').removeClass('on');
}
</script>

</div>

