<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/navbar.css">
<link rel="stylesheet" href="/static/css/footer.css">
<title> exhibit </title>

<style>
/** 배너 */
#bannerDiv {
    display: block;
    position: relative;
    height: 97vh;
}
.first_img {
    margin-top: 5%;
    opacity: 0.8;
    filter: brightness(50%); 
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.banner_text {
  position: absolute;
  top: 80%;
  left: 7%;
  /* transform: translate(-50%, -50%); */
  font-size: 650%;
  color: black;
  /* -webkit-text-stroke: 1.5px black; */
  /* font-weight: bold; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  z-index: 100;
}

.News_card {
    margin-right: 15%;
    margin-left: 7%;
    margin-top: 5%;
}

.news_table {
    position:absolute;
    z-index: 0;
    top: 890px;
    color: black;
    width: 12%;
    margin-left: 83%;
    bottom: 5%;
}

    /* Card img hover 커지는 효과 */
.card-img-top {
    transition: all 0.1s linear;
}

.img_eff {
    overflow: hidden;
}

.img_eff:hover .card-img-top {
    transform: scale(1.05);
}


/* Card News Title hover 색 변화 효과*/
a:hover {
    color: rgb(110, 37, 37);
}

a {
    text-decoration-line: none;
    color: black;
    font-weight: bolder;
}

.card-title {
    font-weight: bolder;
}

/* 반응형 */
@media(max-width:900px){
    .news_table{
    display: none;
    }
}

@media(max-width:900px){
    .News_card{
    margin-right: 0px;
    }
    }


</style>
</head>

<body>
    <%-include('navbar');%>

<div id="bannerDiv">
<img src="/static/img/qna.jpeg" class="first_img">
<div class="banner_text">
    EXHIBITION
</div>
</div>

<!-- 페이지 오른쪽에 고정된 표 -->

<table class="table news_table" >
<tr>
    <td style="font-weight: bold;">Latest</td>
</tr>
<tr>
    <td>
        2022<br>
        August 22<br><br>
        <a href="https://www.seoul.co.kr/news/newsView.php?id=20220822500049">
            비비안 마이어 사진전
        </a><br>
    </td>
</tr>
<tr>
    <td>
        July 15<br><br>
        news text<br>
        news text<br>
        news text<br><br>
    </td>
</tr>
<tr>
    <td>
        May 5<br><br>
        news text<br>
        news text<br>
        news text<br><br>
    </td>
</tr>
</table>


<div class="News_card">


    <!-- 국내뉴스 -->
    <h1 class="newsPage_title" style="font-weight: bold; text-align: center; " >
        <br><br><br><br>8월 전시회<br><br>
    </h1>

    <div class="row">

        <div class="col-12 col-md-6 px-3">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 img_eff">
                    <img src="/static/img/poster.gif" class="card-img-top">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">비비안 마이어 사진전</h5>
                        <p class="card-text">
                            장소 | 그라운드시소 성수<br>
                            기간 | 2022.04.23 ~2022.09.12<br>
                            가격 | 18,000원<br><br><br>
                        </p>
                        <p class="card-text"><small class="text-muted">클릭시 예약 사이트로 이동</small></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 col-5">
            <div class="row g-0">
                <div class="col-md-4 img_eff">
                <img src="/static/img/poster_2.gif" class="card-img-top">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">빛의벙커 모네|르누아르|샤갈 8월</h5>
                    <p class="card-text">
                        장소 | 빛의 벙커(제주 성산)<br>
                        기간 | 2022.08.01 ~2022.08.31<br>
                        가격 | 18,000원<br><br><br>
                    </p>
                    <p class="card-text"><small class="text-muted">클릭시 예약 사이트로 이동</small></p>
                </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 col-6">
            <div class="row g-0">
                <div class="col-md-4 img_eff">
                <img src="/static/img/poster.gif" class="card-img-top">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">비비안 마이어 사진전</h5>
                    <p class="card-text">
                        장소 | 그라운드시소 성수<br>
                        기간 | 2022.04.23 ~2022.09.12<br>
                        가격 | 18,000원<br><br><br>
                    </p>
                    <p class="card-text"><small class="text-muted">클릭시 예약 사이트로 이동</small></p>
                </div>
                </div>
            </div>
        </div>
        

    </div>

</div>


<%-include("footer.ejs")%>
</body>
</html>