<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q & A</title>
    <link rel="stylesheet" href="static/css/resetCss.css">
    <!-- cdn links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jquery pagination plugin-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <!-- css links -->
    <link rel="stylesheet" href="static/css/variables.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/inquery.css">
    <link rel="stylesheet" href="static/css/footer.css">

</head>
<body>
  <%-include('navbar');%>
  
  <img id="qnaImage" src="static/img/qna1.jpeg" alt="" >
  <!-- qna 및 문의 사항 화면. 해당 버튼 클릭시 화면이 바뀜. -->
  <div class="container">
    <div class="row">
      <!-- qna, 문의하기 버튼 네비게이션 -->
      <div class="col-12 col-sm-2 mt-5" id="navCol">
        <button class="btn art-boxBtn" type="button" id="qnaBtn">
          Q&A
        </button>
        <button class="btn mt-2 art-boxBtn" type="button" id="inqueryBtn">
          문의하기
        </button>
      </div>
      <!-- qna, 문의하기 내용 부분 -->
      <div class="col-12 col-sm-9 ms-4" id="contentCol">
        <!-- Q&A 부분 -->
        <div id="qnaDiv" class="mt-3 mb-5">
          <h1>Q&A</h1>
          <div class="d-flex flex-column justify-content-between" id="arcAndPagination">
            <div class="accordion accordion-flush" id="accordionFlushQnA">
              <div id="data-container"></div>
            </div>
            <div id="pagination" class="d-flex justify-content-center"></div>
          </div>
        </div>
        <!-- 문의 사항 부분 -->
        <div id="inqueryDiv" class="mt-3 mb-5">
          <form action="">
            <label for="q-select">
                <h3>
                    문의 사항:
                </h3>
            </label>
            <select name="question" id="q-select" class="form-select">
                <option value="">문의 내용:</option>
                <option value="errorInform">자료 정보 오류 확인</option>
                <option value="webBug">웹 버그 확인</option>
                <option value="etc">기타 사항</option>
            </select>
            <div class="input-group mt-2 mb-2">
              <span class="input-group-text">상세 내용 기입:</span>
              <textarea class="form-control" aria-label="With textarea" rows="10"></textarea>
            </div>
            <div class="mb-3">
              <label for="formFileMultiple" class="form-label">오류 캡쳐 파일</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple accept=".gif,.jpg,.jpeg,.png">
            </div>
            <button id="inquerySubmitBtn" class="btn art-boxBtn" type="submit">문의하기</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <%-include('footer');%>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script>
    // qna or 문의사항 버튼 누를 시 해당 화면으로 전환
    const btn = document.querySelectorAll('button');
    const qna = document.querySelector('#qnaDiv');
    const inquery = document.querySelector('#inqueryDiv');
    
    qna.hidden = false;
    inquery.hidden = true;

    function handleNavScreen(event) {
      const btnId = event.composedPath()[0].attributes[2].value;

      if(btnId === 'qnaBtn'){
        qna.hidden = false;
        inquery.hidden = true;
      } else {
        qna.hidden = true;
        inquery.hidden = false;
      }
    } 

    btn[0].addEventListener('click', handleNavScreen);
    btn[1].addEventListener('click', handleNavScreen);
    
    // pagination.js 사용하여 페이지네이션 적용.
    const listQnA = [
    {
        id: 1,
        btn: "#1 웹사이트를 어떻게 활용하나요?",
        content:
        "art-box 사이트는 미술 및 전시 관련 정보를 제공하고 있습니다. 목차의 링크를 타고 검색을 하여 활용하셔서 필요한 정보를 얻으시기 바랍니다.",
    },
    {
        id: 2,
        btn: "#2 미술 정보들을 확인은 어디서 하나요?",
        content:
        "상단의 'MUSEUM' 링크를 눌러서 정보를 확인할 수 있습니다. 연혁별, 작가별 등으로 검색하여 확인할 수 있으니 필요한 내용을 더 쉽게 확인할 수 있습니다.",
    },
    {
        id: 3,
        btn: "#3 전시 관련 정보는 어디서 확인하나요?",
        content:
        "상단의 'EXHIBITION' 링크를 눌러서 정보를 확인할 수 있습니다. 페이지 내의 카드들에 마우스를 올려서 다가올 전시 정보들을 확인할 수 있습니다.",
    },
    {
        id: 4,
        btn: "#4 미술 관련 뉴스들은 어디서 확인하나요?",
        content: "상단의 'NEWS' 링크를 눌러서 정보를 확인할 수 있습니다.",
    },
    {
        id: 5,
        btn: "#5 정보에 오류가 있나요?",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 6,
        btn: "#6 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 7,
        btn: "#7 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 8,
        btn: "#8 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 9,
        btn: "#9 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 10,
        btn: "#10 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 11,
        btn: "#11 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 12,
        btn: "#12 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 13,
        btn: "#13 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 14,
        btn: "#14 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        id: 15,
        btn: "#15 pagenation 다음페이지 보여주기!",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
  ];
    $(function () {
        let container = $('#pagination');
        container.pagination({
            dataSource: listQnA,
            callback: function (data, pagination) {
                var dataHtml = '<ul>';

                $.each(data, function (index, item) {
                    dataHtml += `
                        <div class="accordion-item">
                            <h2 class="accordion-header art-boxAccordionHeader" id="flush-qna-heading${item.id}">
                                <button class="accordion-button collapsed art-boxAccordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-qna-collapse${item.id}" aria-expanded="false" aria-controls="flush-qna-collapse${item.id}">
                                    ${item.btn}
                                </button>
                            </h2>
                        <div id="flush-qna-collapse${item.id}" class="accordion-collapse collapse" aria-labelledby="flush-qna-heading${item.id}" data-bs-parent="#accordionFlushQnA">
                            <div class="accordion-body bgColorGray">
                                ${item.content}
                            </div>
                        </div>
                    </div>`
                });

                dataHtml += '</ul>';

                $("#data-container").html(dataHtml);
            },pageSize: 5,
        })
    })
  </script>
</body>
</html>
