<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q & A</title>
    <link rel="stylesheet" href="static/css/resetCss.css">
    <!-- cdn links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jquery pagination plugin-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <!-- css links -->
    <link rel="stylesheet" href="static/css/variables.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/inquery.css">
    <link rel="stylesheet" href="static/css/footer.css">

</head>
<body>
  <%-include('navbar');%>
  
  <img id="qnaImage" src="static/img/qna1.jpeg" alt="" >
  <!-- qna 및 문의 사항 화면. 해당 버튼 클릭시 화면이 바뀜. -->
  <div class="container">
    <div class="row">
      <!-- qna, 문의하기 버튼 네비게이션 -->
      <div class="col-12 col-sm-2 mt-5 me-4" id="navCol">
        <button class="btn art-boxBtn" type="button" id="qnaBtn">
          Q&A
        </button>
        <button class="btn mt-2 art-boxBtn" type="button" id="inqueryBtn">
          문의하기
        </button>
      </div>
      <!-- qna, 문의하기 내용 부분 -->
      <div class="col-12 col-sm-9 p-0" id="contentCol">
        <!-- Q&A 부분 -->
        <div id="qnaDiv" class="mt-3 mb-5">
          <h1 class="ms-4">Q&A</h1>
          <div class="d-flex flex-column justify-content-between" id="arcAndPagination">
            <div class="accordion accordion-flush" id="accordionFlushQnA">
              <div id="data-container"></div>
            </div>
            <div id="pagination" class="d-flex justify-content-center"></div>
          </div>
        </div>
        <!-- 문의 사항 부분 -->
        <div id="inqueryDiv" class="mt-3 mb-5">
          <form action="">
            <label for="q-select">
                <h3>
                    문의 사항:
                </h3>
            </label>
            <select name="question" id="q-select" class="form-select">
                <option value="">문의 내용:</option>
                <option value="errorInform">자료 정보 오류 확인</option>
                <option value="webBug">웹 버그 확인</option>
                <option value="etc">기타 사항</option>
            </select>
            <div class="input-group mt-2 mb-2">
              <span class="input-group-text">상세 내용 기입:</span>
              <textarea class="form-control" aria-label="With textarea" rows="10"></textarea>
            </div>
            <div class="mb-3">
              <label for="formFileMultiple" class="form-label">오류 캡쳐 파일</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple accept=".gif,.jpg,.jpeg,.png">
            </div>
            <button id="inquerySubmitBtn" class="btn art-boxBtn" type="submit">문의하기</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <%-include('footer');%>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script>
    // qna or 문의사항 버튼 누를 시 해당 화면으로 전환
    const qnaBtn = document.querySelector('#qnaBtn');
    const inqueryBtn = document.querySelector('#inqueryBtn');
    const qna = document.querySelector('#qnaDiv');
    const inquery = document.querySelector('#inqueryDiv');
    
    qna.hidden = false;
    inquery.hidden = true;

    function handleNavScreen(event) {
      const btnId = event.composedPath()[0].attributes[2].value;

      if(btnId === 'qnaBtn'){
        qna.hidden = false;
        inquery.hidden = true;
      } else {
        qna.hidden = true;
        inquery.hidden = false;
      }
    } 

    qnaBtn.addEventListener('click', handleNavScreen);
    inqueryBtn.addEventListener('click', handleNavScreen);
    
    // pagination.js 사용하여 페이지네이션 적용.
    const listQnA = [
    {
        btn: "웹사이트를 어떻게 활용하나요?",
        content:
        "art-box 사이트는 미술 및 전시 관련 정보를 제공하고 있습니다. 목차의 링크를 타고 검색을 하여 활용하셔서 필요한 정보를 얻으시기 바랍니다.",
    },
    {
        btn: "미술 정보들을 확인은 어디서 하나요?",
        content:
        "상단의 'MUSEUM' 링크를 눌러서 정보를 확인할 수 있습니다. 연혁별, 작가별 등으로 검색하여 확인할 수 있으니 필요한 내용을 더 쉽게 확인할 수 있습니다.",
    },
    {
        btn: "전시 관련 정보는 어디서 확인하나요?",
        content:
        "상단의 'EXHIBITION' 링크를 눌러서 정보를 확인할 수 있습니다. 페이지 내의 카드들에 마우스를 올려서 다가올 전시 정보들을 확인할 수 있습니다.",
    },
    {
        btn: "미술 관련 뉴스들은 어디서 확인하나요?",
        content: "상단의 'NEWS' 링크를 눌러서 정보를 확인할 수 있습니다.",
    },
    {
        btn: "정보에 오류가 있나요?",
        content:
        "왼쪽에 문의사항 버튼을 클릭하여 문의 내용을 입력하여, 문의주시기 바랍니다.",
    },
    {
        btn: `복제물 파일용량이 2기가가 넘어 업로드할 수 없어요`,
        content:
        "저작권 등록시스템 장비 및 네트워크 자원의 효율적 운영을 위해 2GB 미만으로만 복제물 업로드가 가능하도록 제한을 두었습니다. 양해부탁드리며, 2GB 초과하는 복제물은 온라인 접수(수수료결제) 후 별도로 오프라인 제출하실 수 있습니다.<br> 등록 신청서류 작성 마지막 단계에서 복제물 제출방법을 [우편또는방문제출]로 선택하시고 수수료 결제를 진행해주시기 바랍니다. 담당자와 상의하여 복제물(CD나USB등)을 우편 또는 방문으로 제출하실 수 있습니다.",
    },
    {
        btn: "도메인 소유권이 무엇이고 어떻게 확인하나요?",
        content:
        "도메인을 입력하여 네이버웍스에 가입한 경우, 도메인의 소유주가 맞는지 인증하기 위한 확인 절차가 필요합니다.<br>(Lite, Basic 또는 Premium 상품으로 가입)<br>도메인 예시 : @MyDomain.com, @MyDomain.co.kr, @MyDomain.biz 등 <br>단, 그룹명으로 가입한 경우, 도메인 소유권 확인 절차가 생략됩니다. <br>(Free 또는 Lite 상품으로 가입) <br> 그룹명 예시 : @MyGroupName",
    },
    {
        btn: "특별 기획전에 대하여",
        content:
        "이번에 열린 회암사지 기획전 '다같이놀자 동네한바퀴' 양주역사문화 오토마타 체험전은<br>대한민국의 어린이와 청소년들에게 참으로 좋은 체험의 기회가 될 것입니다.<br>특정한 지역에 관련한 스토리를 움직이는 자동 반복인형 (오토마타) 으로 제작하여<br>박물관에서 체험전을 기획한 것은 대한민국 최초의 시도가 아닌가 생각 됩니다.<br>양주뿐만이 아니라 가능한 대한민국의 많은 어린이와 청소년들이 체험 할 수 있도록<br>홍보해 주시기를 부탁 드립니다.<br>이를 위해 수고 많이하신 양주 시장님과 회암사지 박물관 관계자 여러 분들께 감사의<br>인사를 올립니다.",
    },
    {
        btn: "안녕하세요, 질문드립니다.",
        content:
        "안녕하세요, 박물관 설계 및 행정을 공부하는 학생입니다.<br>회암사지 박물관을 조사하다 홈페이지에서 찾을 수 없는 내용이있어<br>이렇게 게시판에 문의드립니다.<br><br>박물관 조직도를 보면<br>관장이 없고 팀장으로 직함이되어있는데요,<br>귀관 조직을 찾아보았더니, 양주시에 편제되어있음을 확인할 수 있었습니다.<br><br>이하 내용이 질문사항입니다.<br><br>1.귀관은 시립박물관인가요? 박물관 소속이 궁금합니다.<br>2. 관장님(총책임)은 어느분이 맡고 계신가요?<br>3. 박물관의 전체 규모를 알고싶습니다.<br>본관의 지상 및 지하층수, 전시 혹은 관리상 별관이 있다면 그 규모<br>박물관시설(관리.수장.전시 등을 모두 합친) 전체 건축연면적<br>주차시설규모 (일반.버스.장애인 등)<br>4. 현재 귀관에서 수장하고있는 소장품 규모가 몇점정도 됩니까?<br><br>이상입니다.<br>답변해주시면 공부에 큰 힘이될것같습니다.<br>읽어주셔서 감사합니다.",
    },
    {
        btn: "그룹 메시지방에서 멤버를 삭제할 수 있나요?",
        content:
        "그룹 메시지방에서는 관리자 또는 그룹마스터가 멤버를 삭제할 수 있습니다.",
    },
    {
        btn: "구성원을 삭제했는데, 구성원 목록에는 남아있습니다.",
        content:
        "구성원을 삭제하더라도, 즉시 삭제되지는 않습니다.<br>7일의 삭제 유예 기간이 있어  7일이 지나야 완전히 삭제되어 구성원 목록에서 사라집니다.<br>삭제한 구성원은 유예 기간 동안 Admin의 구성원 목록에 ‘삭제’상태로 표시되며, 옅은 회색으로 표시됩니다.<br>삭제 유예 기간 내에는 구성원의 삭제를 취소할 수 있습니다.",
    },
    {
        btn: "그룹 생성 시 설정이 필요한 ‘그룹 사용 기능’에 대해 자세히 알려주세요.",
        content:
        "그룹을 만들다 보면, ‘그룹 사용 기능’에 대해 선택을 해야 합니다.<br>그룹 멤버 간 원활한 협업을 위해 네이버웍스에서는 ‘그룹 사용 기능’으로 메시지, 노트, 일정, 폴더, 메일링리스트 기능을 제공합니다.<br>노트/일정/할일/폴더는 메시지의 부가 기능이라,  그룹 메시지방을 사용할 경우에만 ‘사용’으로 설정할 수 있습니다.<br>그룹 사용 기능은 'Admin > 구성원 > 그룹' 메뉴에서 그룹을 생성하거나 수정할 때, 설정이 가능합니다.",
    },
    {
        btn: "그룹사 공유 설정 방법을 알려주세요.",
        content:
        "단일 도메인이 아닌 그룹사 형태로 네이버웍스를 이용하는 경우, 자동완성 옵션과 조직도 표시 범위, 공유 설비의 공개 범위를 'Admin &gt; 기본 환경 &gt; 그룹사 관리'의 '공유 설정'탭에서 설정할 수 있습니다.<br><b>자동완성의 표시 범위 설정하기</b><br>구성원 검색 영역에서 표시되는 구성원, 조직, 그룹의 자동완성 범위를 아래 옵션 중 하나로 정할 수 있습니다.",
    },
    {
        btn: "네, 이상입니다.",
        content:
        "여기까지.",
    },
  ];
    $(function () {
        let container = $('#pagination');
        container.pagination({
            dataSource: listQnA,
            callback: function (data, pagination) {
                var dataHtml = '<ul>';

                $.each(data, function (index, item) {
                    dataHtml += `
                    <li>
                      <div class="accordion-item">
                        <h2 class="accordion-header art-boxAccordionHeader" id="flush-qna-heading${index}">
                            <button class="accordion-button collapsed art-boxAccordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-qna-collapse${index}" aria-expanded="false" aria-controls="flush-qna-collapse${index}">
                              #${index+1} ${item.btn}
                            </button>
                        </h2>
                        <div id="flush-qna-collapse${index}" class="accordion-collapse collapse" aria-labelledby="flush-qna-heading${index}" data-bs-parent="#accordionFlushQnA">
                          <div class="accordion-body bgColorGray">
                              ${item.content}
                          </div>
                        </div>
                      </div>
                    </li>`
                });

                dataHtml += '</ul>';

                $("#data-container").html(dataHtml);
            },pageSize: 5,
        })
    })
  </script>
</body>
</html>
