<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ART-BOX</title>
    <!-- 네브바 css -->
    <link rel="stylesheet" href="../static/css/navbar-2.css">

    <style>
        #videobcg {
            position: fixed;
            top: 0px;
            left: 0px;
            min-width: 100%;
            min-height: 100%;
            z-index: -1000;
        }
        /* 1번째 단락 텍스트 */
        .main-text-1 {
        color: white;
        font-size: 200px;
        position: absolute;
        left: 150px;
        top: 570px;
        }
        /* 2번째 단락 전체 */
        .main-text-2 {
            position: relative;
            top: 1200px;
            left: 150px;
            color: white;
        }
        .main-text-2 div:first-child , .main-text-2 div:nth-child(2) , .main-text-2 div:nth-child(3) {
            position: absolute;
            z-index: 1000;
        }
        /* Welcome to Museum */
        .main-text-2 div:first-child {
            font-size: 150px;
        }
        /* 자연에서 찾은 순수한 아름다운 ~ */
        .main-text-2 div:nth-child(2) {
            font-size: 30px;
            top: 400px;
        }
        /* BRAND STORY */
        .main-text-2 div:nth-child(3) {
            font-size: 25px;
            top: 520px;
        }
        .main-text-2-img {
            position: relative;
            top: 150px;
            left: 520px;
            width: 700px;
            height: 400px;
            background-color: bisque;
        }
        /* 3번째 단락 전체 */
        .main-text-3 {
            position: absolute;
            top: 2000px;
            justify-content: center;
        }
        .main-text-3 div:first-child {
            
        }


    </style>
    </head>
    <body>
        <%-include('navbar');%>

            <video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
                <source src="../static/videos/0.mp4" type="video/mp4">
                <source src="movie.webm" type="video/webm">
            </video>

            <div class="main-text-1">Art-box</div>
            <div class="main-text-2">
                <div>Welcome<br>to Museum</div>
                <div>자연에서 찾은<br>순수한 아름다움의 비밀</div>
                <div>BRAND STORY</div>
                <div class="main-text-2-img"></div>
            </div>

            <div class="main-text-3">
                <div>Card News</div>
            </div>

       



    </body>
    </html>