<!-- 로고 -->
<div class="logoMain"><a href="/" aria-current="page" href="/" class="logomain">ART-BOX</a></div>
<!-- 네비게이션바 -->
<ul class="love nav justify-content-center" style="list-style: none;" id="navbar">
    <li class="nav-item love-item">
        <a class="nav-link love-link" href="#">MUSEUM</a>
        </li>
    </li>
    <li class="nav-item love-item">
        <a class="nav-link love-link" href="/news_page">NEWS</a>
    </li>
    <li class="nav-item love-item">
        <a class="nav-link love-link" href="/exhibition">EXHIBITION</a>
    </li>
    <li class="nav-item love-item">
        <a class="nav-link love-link" href="/inquery">Q&A</a>
    </li>
</ul>

<!-- 최상위 div -->
<div class="container">
    <!-- 햄버거 메뉴 -->
    <input type="checkbox" id="hamburgerTrigger">
    <label for="hamburgerTrigger">
        <!-- 햄버거 세줄 표현 -->
        <span></span>
        <span></span>
        <span></span>
    </label>
    <!-- 클릭시 나타날 사이드바 -->
    <div class="sidebar">
        <ul class="sideMenu">
            <li><a href="#">HOME</a></li>
            <li>
                <a href="#" class="accordion-button collapsed accordion-bottom" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    MUSEUM
                </a>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <ul class="accordion-body accordion-baby">
                        <li><a href="/show_data">artist</a></li>
                        <li><a href="/show_data">era</a></li>
                        <li><a href="/show_data">style</a></li>
                        <li><a href="/show_data">year</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/news_page">NEWS</a></li>
            <li><a href="/inquery">Q&A</a></li>
        </ul>

    </div>

