<!-- 네비게이션바 -->
<ul class="nav justify-content-center" style="list-style: none;">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">MAIN</a>
    </li>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/news_page">NEWS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/exhibit">EXHIBITION</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/inquery">Q&A</a>
    </li>

</ul>
<!-- 최상위 div -->
<div class="container">
    <!-- 햄버거 메뉴 -->
    <input type="checkbox" id="hamburgerTrigger">
    <label for="hamburgerTrigger">
        <!-- 햄버거 세줄 표현 -->
        <span></span>
        <span></span>
        <span></span>
    </label>
    <!-- 클릭시 나타날 사이드바 -->
    <div class="sidebar">
        <ul class="sideMenu">
            <li><a href="#">HOME
                </a></li>
            <li><a href="#" class="accordion-button collapsed accordion-bottom" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    MAIN<div id="flush-collapseOne" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <ul class="accordion-body accordion-baby">
                            <li><a href="/show_data">artist</a></li>
                            <li><a href="/show_data">era</a></li>
                            <li><a href="/show_data">style</a></li>
                            <li><a href="/show_data">year</a></li>
                        </ul>
                    </div></a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">Q&A</a></li>
        </ul>

    </div>
</div>

<script>
    // scroll 내리면 nav 사라지고, 올리면 나타남.
    var lastScrollTop = 0;
    $(window).scroll(function () {
        var st = $(this).scrollTop();
        if (st > lastScrollTop) {
            // downscroll code
            $('.nav').fadeOut(800);
            // $('.nav').css('right', '-');
        } else {
            // upscroll code
            $('.nav').fadeIn(800)
        }
        lastScrollTop = st;
    });

    $("#hamburgerTrigger").change(function () {
        if ($("#hamburgerTrigger").is(":checked")) {
            $('.nav').fadeOut(500);
        }
        else {
            $('.nav').fadeIn(500)
        }
    });
</script>