뉴스페이지
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
<style>
/** 배너 */
#bannerDiv {
    display: block;
    position: relative;
    height: 900px;
}
.first_img {
  position: relative;
  z-index: 10;
  margin-top: 5%;
  opacity: 0.7;
  filter: brightness(80%); 
  width: 100%;
  height: 70vh;
  /* padding-bottom: 3%; */
  /* overflow: hidden; */
}
.banner_text {
    position: absolute;
    top: 80%;
    left: 7%;
    font-size: calc(0.75em + 5.5vw);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 100;
}
/* bannerDiv 반응형 */
@media screen and (max-width: 426px) {
    #bannerDiv{
        height: 760px;
    }
    .banner_text {
        top: 90%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    #bannerDiv{
        height: 800px;
    }
    .banner_text {
        top: 86%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    #bannerDiv{
        height: 860px;
    }
    .banner_text {
        top: 82%;
    }
}

.News_card {
  margin-right: 15%;
}

.news_table {
  position:absolute;
  z-index: 0;
  top: 890px;
  color: black;
  width: 15%;
  margin-left: 80%;
  bottom: 5%;
}

 /* Card News img hover 커지는 효과 */
.card-img-top {
  transition: all 0.1s linear;
}

.news_eff {
  width: 100%;
  overflow: hidden;
}

.news_eff:hover .card-img-top {
  transform: scale(1.05);
}


/* Card News Title hover 색 변화 효과*/
.NewsPage_all a:hover {
  color: rgb(110, 37, 37);
}

.NewsPage_all a {
  text-decoration-line: none;
  color: black;
  font-weight: bolder;
}

.card-title {
  font-weight: bolder;
}

/* 반응형 */
@media(max-width:900px){
  .news_table{
    display: none;
  }
}

@media(max-width:900px){
  .News_card{
    margin-right: 0px;
  }
  }


</style>
</head>

<body>
  <%-include('navbar');%>

  <div class="NewsPage_all">
    <div id="bannerDiv">
      <img src="/static/img/NewsPage/news_banner.png" class="first_img">
      <div class="banner_text">
        ART NEWS
      </div>
    </div>

  <!-- 페이지 오른쪽에 고정된 표 -->

  <table class="table news_table">
    <tr>
        <td style="font-weight: bold;">추천 뉴스</td>
    </tr>
    <tr>
        <td>
            8월<br><br>
            <a href="https://www.seoul.co.kr/news/newsView.php?id=20220822500049">
              제주 해녀를 재해석하다…<br>선관위 사무총장서 화가 변신 김대년 제주 첫 전시회<br><br>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            7월<br><br>
            <a href="https://www.theguru.co.kr/news/article.html?no=40762">
              재불 화가 지창림,<br> 유나이티드 갤러리에서 개인전 열어<br><br>
        </td>
    </tr>
    <tr>
        <td>
            6월<br><br>
            <a href="http://www.kbsm.net/news/view.php?idx=361207">
              자연속에 나고 자라 산수를 그리는 박강미 화가<br><br>
        </td>
    </tr>
  </table>

  <table class="table news_table" style="top: 2040px;">
    <tr>
        <td style="font-weight: bold;">추천 뉴스</td>
    </tr>
    <tr>
        <td>
            8월<br><br>
            <a href="https://www.seoul.co.kr/news/newsView.php?id=20220822500049">
              브라질서 열린 '반 고흐 라이브 8K' 디지털 전시회<br><br>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            7월<br><br>
            <a href="https://www.theguru.co.kr/news/article.html?no=40762">
              독일 20세기, 21세기 타이포그래피 작품을 한눈에<br><br>
        </td>
    </tr>
    <tr>
        <td>
            6월<br><br>
            <a href="http://www.kbsm.net/news/view.php?idx=361207">
              ‘얼굴 없는 화가’ 뱅크시를 추적하다<br><br>
        </td>
    </tr>
  </table>
  



<div class="News_card">

  <!-- 국내뉴스 -->

  <h1 class="newsPage_title" style="font-family:Georgia, 'Times New Roman', Times, serif ; font-weight: bold; text-align: center;">
    <br><br><br><br><br>Domestic News
  </h1>
  <h5 class="newsPage_title" style=" text-align: center;" >
    최신 국내 뉴스
  </h5>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4" style="margin: 10%; margin-top: -0.3%;">

        <div class="col">
          <div class="card h-100 news_eff">
            <a href="#">
              <img src="/static/img/NewsPage/k_news_1.JPG" class="card-img-top">
            </a>     
            <div class="card-body">
              <h5 class="card-title">
                <a href="http://www.kbsm.net/news/view.php?idx=361207">자연속에 나고 자라 산수를 그리는 박강미 화가</a></h5>
              <p class="card-text disable">예술은 기술, 감정, 문화 및 상상력이 독특하게 혼합된 것이다. 모든 예술운동은 역사에 대한 독특한 관점을 제공한다. 이에 떡잎 때부터 재능을 가감없이 발휘, 주위 분들을 놀라게 한 한 작가를 만났다.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 news_eff">       
            <a href="#">
              <img src="/static/img/NewsPage/k_news_2.jpg" class="card-img-top">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://www.theguru.co.kr/news/article.html?no=40762">재불 화가 지창림, 유나이티드 갤러리에서 개인전 열어</a>
              </h5>
              <p class="card-text">재불화가 지창림의 개인전이 이달 30일까지 서울 강남구 역삼동 유나이티드 갤러리에서 열린다. 이번 전시는 주제는 Envelope(포장)이다. 이번에 전시되는 작품들은 나뭇잎, 호박꽃, 접시꽃 사이에서 관능적인 자태를 드러낸 여인들을 표현하고 있다.</p>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100 news_eff">
            <a href="#">
              <img src="/static/img/NewsPage/k_news_3.jpg" class="card-img-top">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://www.ihalla.com/article.php?aid=1661147090730995036">한·중 대가들의 작품 제주서 만난다</a>
              </h5>
              <p class="card-text">한중수교 30주년 기념 현대미술전 '제주, 아시아 중심'전
                이달 30일~9월 27일 기당미술관·서귀포예당 전시실
                현대미술 대표 16명 작가 참여... 100여점 작품 전시..</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 news_eff">
            <a href="#">
              <img src="/static/img/NewsPage/K_news_4.jpg" class="card-img-top">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="http://www.gwangjuin.com/news/articleView.html?idxno=95819">‘이건희 컬렉션’ 이중섭 명작들 한자리에…‘닭과 병아리’ 등 두점 첫 공개</a>
              </h5>
              <p class="card-text">한국 미술판에서 지난 30여년간 철벽에 싸였던 이건희의 이중섭 컬렉션이 이제 국민 모두의 컬렉션으로 바뀌어 새 모습으로 선보이게 된다.</p>
            </div>
          </div>
        </div>

        <div class="col">         
          <div class="card h-100 news_eff">
            <a href="#">
              <img src="/static/img/NewsPage/artnews_1.jpg" class="card-img-top">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://www.theguru.co.kr/news/article.html?no=40762">무각사 로터스갤러리, 신인작가 기획전</a>
              </h5>
              <p class="card-text">로터스갤러리 청년신인작가 공모에 선정된 양세미 작가의 전시가 3일 부터 이달 29일까지 광주 무각사 로터스갤러리에서 열린다.</p>
            </div>
          </div>
        </div>
        
        <div class="col">         
            <a href="#">
          <div class="card h-100 news_eff">
            <a href="#">
              <img src="/static/img/NewsPage/artnews_2.jpg" class="card-img-top">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://www.theguru.co.kr/news/article.html?no=40762">이인성의 ‘여름 실내에서’</a>
              </h5>
              <p class="card-text">‘천재 화가, 조선의 고갱 이인성을 아십니까?’ 2022년 경기 과천시 국립현대미술관 덕수궁관에서 개최된 ‘鄕(향), 이인성 탄생 100주년 기념 특별전’</p>
            </div>
          </div>
        </div>

    </div>


    <h1 class="newsPage_title" style="font-family:Georgia, 'Times New Roman', Times, serif ; font-weight: bold; text-align: center;">
      International News
    </h1>
    <h5 class="newsPage_title" style=" text-align: center;" >
    최신 해외 뉴스
    </h5>
  
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 10%; margin-top: -0.3%;">
  
      <div class="col">
        <div class="card h-100 news_eff">
          <a href="#">
            <img src="/static/img/NewsPage/K_news_5.jpg" class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://www.theguru.co.kr/news/article.html?no=40762">‘얼굴 없는 화가’ 뱅크시를 추적하다</a>
            </h5>
            <p class="card-text">얼굴과 본명을 드러내지 않는 영국 미술가 뱅크시(Banksy)의 그림 ‘풍선과 소녀’가 2018년 10월 런던 소더비 경매에 나왔다. 당시 낙찰 가격만 104만파운드(약 16억원).</p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 news_eff">
          <a href="#">
            <img src="/static/img/NewsPage/K_news_6.JPG" class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://www.theguru.co.kr/news/article.html?no=40762">브라질서 열린 '반 고흐 라이브 8K' 디지털 전시회</a>
            </h5>
            <p class="card-text">브라질 리우데자네이루에서 열린 '반 고흐 라이브 8K 전시회'에서 관객들이 작품을 둘러보고 있다. 이 전시회에서는 8K 화질로 디지털화된 반 고흐의 작품들이 전시됐다.</p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 news_eff">
          <a href="#">
            <img src="/static/img/NewsPage/K_news_7.JPG" class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://www.theguru.co.kr/news/article.html?no=40762">독일 20세기, 21세기 타이포그래피 작품을 한눈에</a>
            </h5>
            <p class="card-text">9월 2일부터 10월 16일까지 한국 청주 문화제조창(Culture Factory) 본관 3층 갤러리3에서 독일 오펜바흐 클링스포르 박물관의 소장품을 전시한다.</p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 news_eff">
          <a href="#">
            <img src="/static/img/NewsPage/K_news_8.JPG" class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://www.theguru.co.kr/news/article.html?no=40762">온몸을 내던진 열정의 화가, 터너</a>
            </h5>
            <p class="card-text">사실적 묘사에 그치지 않고, 자신의 순간의 감정을 포착하고 고스란히 표현하려는 '낭만주의'</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100 news_eff">
          <a href="#">
            <img src="/static/img/NewsPage/K_news_9.JPG" class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://www.theguru.co.kr/news/article.html?no=40762">썩은 육신에서 삶의 진실을 마주하다</a>
            </h5>
            <p class="card-text">19세기 영국 화가 존 에버렛 밀레이의 ‘오필리아’. 윌리엄 셰익스피어의 비극 ‘햄릿’에 나오는 주인공 햄릿의 연인인 오필리아가 물에 빠져 죽어가는 모습을 그렸다. 미모와 죽음을 병치시켜서 상황의 비극성과 여성의 아름다움을 두드러지게 하고 있다. </p>
          </div>


    <!-- 해외 뉴스 -->
    
  <h1 class="newsPage_title" style="font-family:Georgia, 'Times New Roman', Times, serif ; font-weight: bold; text-align: center;">
    International News
  </h1>
  <h5 class="newsPage_title" style=" text-align: center;" >
  최신 해외 뉴스
  </h5>

  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 10%; margin-top: -0.3%;">

    <div class="col">
      <div class="card h-100 news_eff">
        <a href="#">
          <img src="/static/img/NewsPage/K_news_5.jpg" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.theguru.co.kr/news/article.html?no=40762">‘얼굴 없는 화가’ 뱅크시를 추적하다</a>
          </h5>
          <p class="card-text">얼굴과 본명을 드러내지 않는 영국 미술가 뱅크시(Banksy)의 그림 ‘풍선과 소녀’가 2018년 10월 런던 소더비 경매에 나왔다. 당시 낙찰 가격만 104만파운드(약 16억원).</p>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100 news_eff">
        <a href="#">
          <img src="/static/img/NewsPage/K_news_6.JPG" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.theguru.co.kr/news/article.html?no=40762">브라질서 열린 '반 고흐 라이브 8K' 디지털 전시회</a>
          </h5>
          <p class="card-text">브라질 리우데자네이루에서 열린 '반 고흐 라이브 8K 전시회'에서 관객들이 작품을 둘러보고 있다. 이 전시회에서는 8K 화질로 디지털화된 반 고흐의 작품들이 전시됐다.</p>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100 news_eff">
        <a href="#">
          <img src="/static/img/NewsPage/K_news_7.JPG" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.theguru.co.kr/news/article.html?no=40762">독일 20세기, 21세기 타이포그래피 작품을 한눈에</a>
          </h5>
          <p class="card-text">9월 2일부터 10월 16일까지 한국 청주 문화제조창(Culture Factory) 본관 3층 갤러리3에서 독일 오펜바흐 클링스포르 박물관의 소장품을 전시한다.</p>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100 news_eff">
        <a href="#">
          <img src="/static/img/NewsPage/K_news_8.JPG" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.theguru.co.kr/news/article.html?no=40762">온몸을 내던진 열정의 화가, 터너</a>
          </h5>
          <p class="card-text">사실적 묘사에 그치지 않고, 자신의 순간의 감정을 포착하고 고스란히 표현하려는 '낭만주의'</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 news_eff">
        <a href="#">
          <img src="/static/img/NewsPage/K_news_9.JPG" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.theguru.co.kr/news/article.html?no=40762">썩은 육신에서 삶의 진실을 마주하다</a>
          </h5>
          <p class="card-text">19세기 영국 화가 존 에버렛 밀레이의 ‘오필리아’. 윌리엄 셰익스피어의 비극 ‘햄릿’에 나오는 주인공 햄릿의 연인인 오필리아가 물에 빠져 죽어가는 모습을 그렸다. 미모와 죽음을 병치시켜서 상황의 비극성과 여성의 아름다움을 두드러지게 하고 있다. </p>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100 news_eff">
          <a href="#">
            <img src="/static/img/NewsPage/K_news_10.jpg" class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://www.theguru.co.kr/news/article.html?no=40762">식물과 군인, 꽃과 총, 아름다움과 전쟁의 대비</a>
            </h5>
            <p class="card-text">꼭 50년 전인 1972년, 천경자가 베트남전쟁 종군화가단의 한 사람으로 뽑혀 전장을 다녀와서 그린 '정글 속에서'다.</p>
          </div>
        </div>
      </div>
  
    </div>
  
    </div>
    </div>
  
  
  <%-include("footer.ejs")%>
  
  <script>
  
  </script>
  
  </body>
  </html>
 