<!-- 클릭시 text와 일치하는 id의 요소를 찾아낸 후 그 요소의 위치로 이동 -->
<script>
    function quick_search_click(subject) {
        name = "#" + subject.text;
        move_height = $(name).offset();
        $("html").scrollTop(move_height.top);
    }

</script>

<ul>
    <%for (var i =0; i < data.length; i ++){ %>
        <li  class="quick_search"><%= data[i] %></li>
    <% } %>
</ul>

<div class="sidebar">
        <ul class="sideMenu">
            <li><a href="#">HOME
                </a></li>
            <li><a href="#" lass="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    MAIN<div id="flush-collapseOne" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <ul class="accordion-body">
                            <li><a href="/show_data">artist</a></li>
                            <li><a href="/show_data">era</a></li>
                            <li><a href="/show_data">style</a></li>
                            <li><a href="/show_data">year</a></li>
                        </ul>
                    </div></a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">Q&A</a></li>
        </ul>
        
    </div>