<html lang="en">

<head>
    <meta charset="UTF-8">

</head>


<body>
    <ul class="quick_search">
        <li>
            <a>전체</a>
        </li>
        <li>
            <a>상의</a>
        </li>
        <li>
            <a>아우터</a>
        </li>
        <li>
            <a>바지</a>
        </li>
        <li>
            <a>원피스</a>
        </li>
        <li>
            <a>스커트</a>
        </li>
        <li>
            <a>가방</a>
        </li>
        <li>
            <a>스니커즈</a>
        </li>
        <li>
            <a>신발</a>
        </li>
        <li>
            <a>시계</a>
        </li>
        <li>
            <a>모자</a>
        </li>
        <li>
            <a>스포츠</a>
        </li>
        <li>
            <a>양말/레그웨어</a>
        </li>
        <lit_cd="026">
            <a>속옷</a>
            </li>
            <li>
                <a>안경</a>
            </li>
            <li>
                <a>주얼리</a>
            </li>
            <li>
                <a>액세서리</a>
            </li>
            <li>
                <a>뷰티</a>
            </li>
            <li>
                <a>디지털/테크</a>
            </li>
            <li>
                <a>생활/취미/예술</a>
            </li>
            <li>
                <a>책/음악/티켓</a>
            </li>
            <li>
                <a>반려동물</a>
            </li>
    </ul>



</body>

</html>