<!-- 클릭시 text와 일치하는 id의 요소를 찾아낸 후 그 요소의 위치로 이동 -->
<script>
    function quick_search_click(subject) {
        name = "#" + subject.text;
        move_height = $(name).offset();
        $("html").scrollTop(move_height.top);
    }
</script>

<!-- category list -->
<% var artist=[]; %>
<% var era=['원시, 고대', '중세' , '근세' , '근대' , '현대' ]; %>
<% var styel=[]; %>
<% var year=['1000', '1100', '1200', '1300', '1400', '1500', '1600', '1700', '1800', '1900', '2000']; %>


    <ul>
        <% for(var i=0; i< era.length; i++){ %>
            <li>
                <a class="quick_search" onclick=quick_search_click(this);>
                    <%= era[i] %>
                </a>
            </li>
            <% } %>
    </ul>