<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Box</title>
</head>
<body>
    <%-include("video_carousel.ejs")%>
    <%-include("../views/quick_search")%>
    <div id="one" style="height: 100px;">1</div>
    <div id="two" style="height: 100px;">2</div>
    <div id="three" style="height: 100px;">3</div>
    <div id="four" style="height: 100px;">4</div>
    <div id="five" style="height: 100px;">5</div>
    <div id="six" style="height: 100px;">6</div>
    <div id="seven" style="height: 100px;">7</div>
    <div id="eight" style="height: 100px;">8</div>
    <div id="nine" style="height: 100px;">9</div>
    <div id="ten" style="height: 100px;">10</div>
    <div id="eleven" style="height: 100px;">11</div>
    <div id="twelve" style="height: 100px;">12</div>
    <div id="thirteen" style="height: 100px;">13</div>
    
</body>
</html>