<!-- video carousel with fade -->
<!-- data-bs-ride="carousel" change to data-interval="false" remove auto slide-->
<div id="carouselVideoFade" class="carousel slide carousel-fade d-block" data-bs-ride="carousel">
  <div class="carousel-indicators">

    <button type="button" data-bs-target="#carouselVideoFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <!-- videoList에 있는 수 만큼 button 생성 -->
    <% for(let i = 1; i < videoList.length; i++){%>
    <button type="button" data-bs-target="#carouselVideoFade" data-bs-slide-to="<%= i%>" aria-label="Slide <%= i%>"></button>
    <% } %>
  </div>
  <div class="carousel-inner d-block">
    <div class="carousel-item active d-flex justify-content-center w-100">
      <video autoplay loop controls muted class="d-block">
        <source src="static/videos/0.mp4" type="video/mp4">
      </video>
    </div>
    <!-- videoList에 있는 수 만큼 item 생성 -->
    <% for(let i = 1; i < videoList.length; i++){%>
    <div class="carousel-item d-flex justify-content-center w-100">
      <video autoplay loop controls muted class="d-block">
        <source src="static/videos/<%= videoList[i]%>" type="video/mp4">
      </video>
    </div>
    <% } %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideoFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselVideoFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script>
  const videos = document.querySelectorAll("video");
  const nexVideoBtn = document.querySelector(".carousel-control-next");

  //각각의 video에 ended event가 발생하면 다음 캐러셀 버튼이 클릭된다.
  for (let i = 0; i < videos.length; i++) {
    videos[i].addEventListener("ended", () => {
      nexVideoBtn.click();
    });
  }
</script>