video::-webkit-media-controls {
    display: none;
}
video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    /* 요소 콘텐츠 박스 크기에 맞춰 대체 콘텐츠의 크기 조절함.*/
    object-fit: fill;
    
}
video:focus {
    outline: none;
}

.fadeInVid {
    animation: 1.2s ease-in-out fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}