@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.move_news {
    color: white;

}

.card_news_all {
    height: 1750px;
    font-family: 'Noto Sans KR', sans-serif;
}


.news_title {
    color: white;
    position: sticky;
    display: inline-block;
    top: 40%;
    left: 100px;
    z-index: 99;
    width: 50%;
}

.news_title div:first-child {
    /* font-size: 500%; */
    font-size: calc(0.75em + 5vw);
    padding-left: 8%;
}

.news_title div:nth-child(2) {
    font-size: calc(0.75em + 1vw);
    padding-left: 8%;
    margin: 25px 0px;
}
.news_title > span {
    font-size: 110%;
}
.news_title_1 {
    padding-left: 8%;
}


/* 첫번째 카드뉴스 */
.news_container {
    position: relative;
    top: -160px;
    left: 60%;
    width: 35%;
}

/* 두번째 카드뉴스 */
.news_container2 {
    position: relative;
    top: -160px;
    left: 45%;
    width: 35%;
}

.news_img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}



.news_textbox {
    position: absolute;
    margin: 0%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}



.news_container:hover .news_textbox {
    opacity: 0.7;
}

.news_container2:hover .news_textbox {
    opacity: 0.7;
}

.news_text {
    z-index: 10;
    position: relative;
    display: flex;
    color: white;
    font-family: verdana, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

/* CardNews Title */
.news_text1 {
    display: inline-block;
    position: absolute;
    /* font-size: 120%; */
    font-size: calc(0.75em + 0.7vw);
    font-weight: bold;
}

/* CardNews Contents */
.news_text2 {
    position: absolute;
    font-size: 15px;
    margin-top: 50%;
    text-align: center;
}

.news_text1:after {
    display: block;
    content: '';
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.news_text1:hover:after {
    transform: scaleX(1);
}

.news_text1.fromLeft:after {
    transform-origin: 0% 50%;
}

@media (max-width: 1607px) {
    .card_news_all {
        height: 1500px;
    }
}

@media (max-width: 1507px) {
    .card_news_all {
        height: 1400px;
    }
}

@media (max-width: 1050px) {

    .news_title,
    .news_container,
    .news_container2 {
        position: static;
        width: 65%;
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .news_container>a,
    .news_container2>a {
        position: relative;
    }

    .news_textbox {
        width: 200%;
    }
    .news_text1 {
        font-size: calc(0.75em + 1vw);

    }
    /* .card_news_all {
        margin: auto;
    } */
}

    
 @media (max-width: 780px) { 
    .card_news_all {
        height: 1400px;
        /* margin-left: 15%;
        margin-right: -20%; */

    }
}

@media (max-width: 1290px) { 
    .news_text {
        margin-top: 40%;
    }
    .news_text2 {
        display: none;
    }

}
