.news_title {
    position: fixed;
    font-size: 50px;
    top: 300px;
    margin-left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* 첫번째 카드뉴스 */
.news_container {
    position: relative;
    top: 1600px;
    left: 50%;
    width: 35%;
}

/* 두번째 카드뉴스 */
.news_container2 {
    position: relative;
    top: 1700px;
    left: 50%;
    width: 35%;
}

.news_img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}



.news_textbox {
    position: absolute;
    margin: 0%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}



.news_container:hover .news_textbox{
    opacity: 0.7;
}

.news_container2:hover .news_textbox{
    opacity: 0.7;
}
  
.news_text {
    z-index: 10;
    position: relative;
    display: flex;
    color: white;
    font-family:verdana, sans-serif;
    white-space: pre;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

/* CardNews Title */
.news_text1 {
    display:inline-block; 
    position: absolute;
    font-size: 120%;
    font-weight: bold;
}

/* CardNews Contents */
.news_text2 {
    position: absolute;
    font-size: 15px;
    top: 50px;
    margin-right: 10%;
}

.news_text1:after {
    display:block;
    content: '';
    border-bottom: solid 2px white;  
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}

.news_text1:hover:after {
    transform: scaleX(1);
}

.news_text1.fromLeft:after{transform-origin:  0% 50%; }
