        /*  */
        .exhibit {
            display: flex;
            justify-content: center;
        }
        .exhibit div a {
            display: none;
        }
        .exhibit-contents {
            position: absolute;
            z-index: 100000;
            width: 100%;
  
        }
        /* all 박스 */
        .exhibit > div {
            margin: 5px;
            border-radius: 15px;
            cursor: pointer;
            width: 150px;
            height: 500px;
            background-size : cover;
            transition: all 0.5s;
        }
        /* 박스 크기 조절 */
        .allExhibit {
            background-image: url(../img/art_1.jpg);
        }
        .exhibit7 {
            background-image: url(../img/art_5.jpg);

        }
        .exhibit8 {
            background-image: url(../img/art_3.jpg);
        }
        .exhibit9 {
            background-image: url(../img/art_2.jpg);
        }
        .etc {
            background-image: url(../img/art_4.jpg);
        }


        .exhibit > div.hover {
            width: 500px;
        } 
        

