        /*  */
        .exhibit {
            display: flex;
            justify-content: center;
        }
        .exhibit div a {
            position: absolute;
            height: 100%;
            top: 90%;
            margin-left: 2%;
            text-decoration: none;
            color: white;
            font-size: 20px;
            display: none;
        }
        /* 전체 단락 앱솔뤁 */
        .exhibit-contents {
            position: absolute;
            z-index: 100000;
            width: 100%;
        }
        /* all 박스 */
        .exhibit > div {
            margin: 5px;
            border-radius: 15px;
            cursor: pointer;
            width: 100px;
            height: 400px;
            background-size : cover;
            transition: all 0.5s;
        }
        /* 박스 크기 조절 */
        .allExhibit {
            background-image: url(../img/art_1.jpg);
        }
        .exhibit7 {
            background-image: url(../img/art_5.jpg);
        }
        .exhibit8 {
            background-image: url(../img/art_3.jpg);
        }
        .exhibit9 {
            background-image: url(../img/art_2.jpg);
        }
        .etc {
            background-image: url(../img/art_4.jpg);
        }

        .exhibit > div.hover {
            width: 400px;
        }
        .exhibit > div.hover > a {
            display: block;
        }
        
        @media (max-width: 675px) { 
            .exhibit { 
            display: block; 
            height: auto;
            }
            .fourth-floor {
            height: 2200px;
            }
            .exhibit div a { 
            position: static; 
            padding-top: 350px;
            }
            .exhibit > div {
                width: 400px;
                margin:10px auto ;
            }
        }
        

