        /*  */
        .exhibit {
            display: flex;
            justify-content: center;
        }
        .exhibit-contents {
            position: absolute;
            text-align: center;
            z-index: 100000;
        }
        /* all 박스 */
        .exhibit > div {
            margin: 5px;
            border-radius: 15px;
            cursor: pointer;
        }
        /* 박스 크기 조절 */
        .allExhibit {
            width: 400px;
            height: 400px;
            background-image: url(../static/img/art_3.jpg);
            background-size : cover;
        }
        .exhibit7 {
            width: 100px;
            height: 400px;
            background-image: url(../static/img/art_5.jpg);
            background-size : cover;

        }
        .exhibit8 {
            width: 100px;
            height: 400px;
            background-image: url(../static/img/art_1.jpg);
            background-size : cover;

        }
        .exhibit9 {
            width: 100px;
            height: 400px;
            background-image: url(../static/img/art_2.jpg);
            background-size : cover;

        }
        .etc {
            width: 100px;
            height: 400px;
            background-image: url(../static/img/art_4.jpg);
            background-size : cover;

        }
    