#qnaBtn, #inqueryBtn{
    border-radius: 30px!important;
    border: 0.5px solid black;
}
#arcAndPagination {
    height: 50vh;
}
#qnaImage {
    width: 100%;
    height: 50vh;
}
.accordion-collapse > .bgColorGray {
    background-color: rgba(237, 237, 237, 0.5);
}
a:link, a:visited, a:hover{
    color: black!important; 
    text-decoration: none;
}
#q-select {
    width: 35%;
}
#formFileMultiple {
    width: 30%;
}