@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    /* 네비게이션 바 고정 */
    .nav {
        position: fixed; 
        font-family: 'MaruBuri-Regular';
        font-size: 27px;
        display: flex;
        margin-top: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10000;
    }
    .nav > li {
        margin: 20px;
        
    }
    /*  */
    .nav-link {
        text-decoration: none;
        color: white !important;
    }
    /* input 중에 id가 trigger인 항목에 대한 css */
    input[id=trigger] {
        display: none;
    }

    /* label 중에 for가 trigger인 항목 */
    label[for=trigger] {
        width: 30px;
        height: 20px;
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        cursor: pointer;
        z-index: 100010;
    }

    /* label 중에 for가 trigger인 항목 안의 span */
    label[for=trigger] span {
        display: block;
        height: 3px;
        background-color: white;
        left: 0;
        position: absolute;
        transition: 0.3s;
        z-index: 100010; 
    }

    /* label[for=trigger] > span의 n번째 요소 */
    label[for=trigger] span:nth-child(1) {
        top:0;
        width: 120%;
    }

    label[for=trigger] span:nth-child(2) {
        top:50%;
        width: 80%;

    }

    label[for=trigger] span:nth-child(3) {
        top:100%;
        width: 100%;

    }

    /* check시 변하는 label[for=trigger] > span의 n번째 요소  */
    input[id=trigger]:checked + label span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
        background-color: black;
        width: 100%;
    }

    input[id=trigger]:checked + label span:nth-child(2) {
        opacity: 0;
    }

    input[id=trigger]:checked + label span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
        background-color: black;
        width: 100%;


    }

    /* 사이드바 */
    .sidebar {
        width: 600px;
        height: 100vh;
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        right: -600px;
        transition: 1.2s;
        z-index: 10000;
    }

    /* 사이드바 메뉴 */
    .sideMenu {
        list-style-type: none;
        font-size: 35px ;
        margin-top: 70px;
    }
    .sideMenu > li > a {
        font-family: 'MaruBuri-Regular';
        text-decoration: none;
        color: black;
    }
    .accordion-body {
        margin-top: 0;
    }

    /* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
    input[id=trigger]:checked ~ .sidebar {
        right: 0;
    }

    /* check시 같이 밀려나가는 CSS 햄버거 메뉴 */
    input[id=trigger]:checked + label[for=trigger] {
        right: 530px;
        transition: 1.2s;
    }
    .scroll {
        width: 50px;
    }