html {
scroll-behavior: smooth;
}

/* quick_search 글자 스타일 */
.quick_search{
font-weight: 500;
font-size: 20px;
text-decoration: none;
color: black;
}

/* 글자에 마우스 올렸을 때 hover */
.quick_search:hover{
color: #747474;
font-size: larger;
}