@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* sidebar trigger */
input[id=quick_search_sidebar_checkbox] {
    display: none;
}

/* side_bar tirgger button */
label[for=quick_search_sidebar_checkbox] {
    display: block;
    position: fixed;
    width: 100px;
    height: 80px;
    left: 0%;
    top: 20%;
    transition: 2s;
    cursor: pointer;
    z-index: 100010;
}

/* img of side_bar button */
#quick_search_sidebar_checkbox_img {
    display: block;
    width: 100px;
    height: 50px;
    position: fixed;
}

/* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
input[id=quick_search_sidebar_checkbox]:checked ~ .qucik_search_sidebar {
    left: 0px;
}

/* side_bar check event - button move */
input[id=quick_search_sidebar_checkbox]:checked ~ label {
    transform: translateX(180px) rotateY(180deg);
    right: 300px;
    transition: 2s;         
}

/* 사이드바 */  
.qucik_search_sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: rgba(76, 76, 76, 0.5);
    opacity: 0.3;
    margin-top: 5%;
    top: 10%;
    left: -300px;
    transition: 1.2s;
    z-index: 10000;
}

/* 사이드바 메뉴 */
.quick_search_sidebar_menu {
    list-style-type: none;
    font-size: 35px;
    margin-top: 70px;
}

.scroll {
    width: 50px;
}