html {
    scroll-behavior: smooth;
}

#img_container{
    overflow: auto;
    margin-top: 95px;
    align-items: center;
}

.museum_img {
    width: 100%;
    bottom: 0;
}

.pic_description{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.pic_frame{
    width: 100%;
    height: 100%;
}

#scrollspy_container{
    position: fixed;
    right: 0;
    padding-top: 95px;
    width: 180px;
    height: 100%;
    overflow-y: auto;
    word-break: break-all;
    
}

#navbar-example3{
    top: 0;
    /* margin-top:20%; */
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black!important;
    background-color: #aaaaaa;
}

.era_title{
    padding-top: 70px;
    padding-left: 14px;
}
.a_tag{
    padding: 0.5rem 0.5rem;
}
