html {
    scroll-behavior: smooth;
}

.gallery_container{
    margin-right: 0;
}

#img_container{
    overflow: auto;
    margin-top: 95px;
    align-items: center;
}

.museum_img {
    width: 100%;
}

.pic_description{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.pic_frame{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.aaa{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#scrollspy_container{
    position: sticky;
    right: 0;
    padding-top: 95px;
    height: inherit;
    word-break: break-all;
}

#navbar-example3{
    top: 0;
    height: 100vh;
    position: sticky;
    overflow: auto;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black!important;
    background-color: #aaaaaa;
}

.era_title{
    padding-top: 70px;
    padding-left: 14px;
}

.a_tag{
    padding: 0.5rem 0.5rem;
}
