html {
    scroll-behavior: smooth;
}

#img_container{
    overflow: auto;
    margin-top: 95px;
    align-items: center;
}

.museum_img {
    width: 100%;
    height: 100%;
}

#scrollspy_container{
    position: fixed;
    right: 0;
    padding-top: 95px;
    width: 180px;
    height: 100%;
    overflow-y: auto;
    word-break: break-all;
    
}

#navbar-example3{
    top: 0;
}

.era_title{
    padding-top: 70px;
    padding-left: 14px;
}