/* hide video control */
video::-webkit-media-controls {
    display: none;
}
video {
  /* display: absolute; */
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  object-fit: fill;
}
video:focus {
  outline: none;
}